<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Report Preview</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onExportClick()">Export</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="iframeContainer">
  <!-- <iframe #docContainer></iframe> -->
  <pdf-viewer 
    [src]="source" 
    [render-text]="true" 
    [fit-to-page]="true"
    style="display: block;"
  ></pdf-viewer>
  
</ion-content>
