<ion-item #commentItem class="snag-item" (click)="onCommentClick()" detail>
  
  <ion-label *ngIf="comment" class="ion-text-wrap">
    <ion-text class="comment-zone" color="medium">Comment #{{ comment.id }}</ion-text>
    <h3>{{ comment.description }}</h3>
    <p>
      in the <ion-text color="medium">{{ comment.zone }}</ion-text>
    </p>
  </ion-label>

  <ion-label *ngIf="!comment" class="ion-text-wrap ion-padding-top">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
  </ion-label>
  
</ion-item>