<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Snag List</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="onNewCommentClick()">New</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- comments filter by zone -->
  <div *ngIf="report" id="filterContainer">
    <ion-item>
      <ion-label position="stacked">Filter Comments</ion-label>
      <ion-select value="all" (ionChange)="onFilterChange($event)">
        <ion-select-option value="all">Show All Zones</ion-select-option>
        <ion-select-option *ngFor="let z of report.zones" value="{{z.name}}">{{ z.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- comments list -->
  <ion-list *ngIf="currentComments && currentComments.length">
    <app-comment *ngFor="let c of currentComments" [reportId]="report.id" [zone]="c.zone" [id]="c.id"></app-comment>
  </ion-list>

  <!-- loading -->
  <div *ngIf="!currentComments" style="display:flex; flex-direction: column; justify-content:center; align-items:center; height:100%;">
    <ion-spinner name="lines"></ion-spinner>
  </div>

  <!-- in the comments list is empty -->
  <div *ngIf="currentComments && !currentComments.length" 
    style="display:flex; flex-direction: column; justify-content:center; align-items:center; height:100%;">
    <ion-text color="medium" class="ion-text-center">
      <h1 style="margin-top: 0">Empty</h1>
      <p>You don't have any comments yet!</p>
    </ion-text>
  </div>

  <!-- <ion-list>
    <ion-item *ngFor="let item of [1, 2, 3, 3, 3, 3]" class="snag-item" detail>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="12">
            <ion-text class="comment-zone" color="medium">1st Floor Living Room</ion-text>
            <p class="comment-text">This item is broken.</p>
          </ion-col>
          <ion-col *ngFor="let img of [1, 2, 3, 4, 5]" size="2">
            <img src="//placehold.it/50">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="medium" (click)="onNewCommentClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
