.snag-item {
    .comment-zone {
        font-size: 0.75rem;
    }
    .comment-text {
        margin-top: 1px;
    }
    ion-col {
        padding: 1px 3px;
    }
    img {
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
}

ion-list {
    margin-top: 55px;
}

div#filterContainer {
    width: 100%;
    z-index: 1;
    position: fixed !important;
}