<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Project</ion-title>
    <ion-buttons slot="end">
      <ion-button>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <!-- Project Details -->
  <section>
    <ion-list-header lines="full">
      <ion-label class="header">Project Details</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Project Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea rows="3"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Report Prepared For</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Inspection Carried By</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Inspection Carried On</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Inspection Carried At</ion-label>
      <ion-datetime displayFormat="HH:mm"></ion-datetime>
    </ion-item>
  </section>
  

  
  <!-- Unit Details -->
  <section>
    <ion-list-header lines="full">
      <ion-label class="header">Unit Details</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Unit Photograph</ion-label>
      <ion-row id="unitImageContainer" class="ion-padding-horizontal ion-justify-content-center">
        <ion-col size="8">
          <img src="//placehold.it/200">
        </ion-col>
      </ion-row>
      <ion-input type="file"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Weather</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="dry">Dry</ion-select-option>
        <ion-select-option value="wet">Wet</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Unit Identification Number</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Unit Type</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="villa">Villa</ion-select-option>
        <ion-select-option value="apartment">Apartment</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Unit Age</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="1">0 to 1 years</ion-select-option>
        <ion-select-option value="3">1 to 3 years</ion-select-option>
        <ion-select-option value="5">3 to 5 years</ion-select-option>
        <ion-select-option value="9">5+ years</ion-select-option>
      </ion-select>
    </ion-item>
  </section>

  <section>
    <ion-list>
      <ion-list-header lines="none">
        <ion-label class="header">Zones/Areas</ion-label>
      </ion-list-header>
      <ion-item lines="full">
        <ion-input #newZone placeholder="New Zone or Area"></ion-input>
        <ion-button fill="clear" (click)="onAddZoneClick(newZone)">Add</ion-button>
      </ion-item>
      <ion-item *ngFor="let z of zones; let i = index" lines="full" style="border-left: 8px solid lightgrey;">
        {{ z.name }}
        <ion-button fill="clear" size="small" color="dangers" slot="end" (click)="onDeleteZoneClick(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </section>

</ion-content>
