<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>

  <ion-card *ngFor="let x of [1, 2, 3]">
    <img src="//placehold.it/500x200" />
    <ion-card-header>
      <ion-card-subtitle>{{ '2020-05-13' | date : 'medium' }}</ion-card-subtitle>
      <ion-card-title>Project Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Project description lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <div style="text-align: center; padding-top: 13px;">
        <ion-button class="ion-no-margin" size="small" fill="clear" routerDirection="forward" [routerLink]="['/project', '1', 'snag-list']">Snag List</ion-button>
        <ion-button class="ion-no-margin" size="small" fill="clear" routerDirection="forward" [routerLink]="['/project', '1', 'report-preview']">Preview</ion-button>
        <ion-button class="ion-no-margin" size="small" fill="clear" color="danger">Delete</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="medium" routerDirection="forward" [routerLink]="['/new-project']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
