<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSaveClick()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">

  <!-- comment zone -->
  <ion-item [disabled]="true">
    <ion-label position="stacked">Zone/Area<ion-text color="danger">*</ion-text></ion-label>
    <ion-select formControlName="zone">
      <ion-select-option value="{{ zone.name }}">{{ zone.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- comment description -->
  <ion-item>
    <ion-label position="stacked">Description<ion-text color="danger">*</ion-text></ion-label>
    <ion-textarea rows="3" formControlName="description"></ion-textarea>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validationMessages.description">
      <div class="error-message" *ngIf="form.get('description').hasError(validation.type) && (form.get('description').dirty || form.get('description').touched)">
        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <!-- comment photographs -->
  <ion-list-header lines="none">
    <ion-label class="header">Photographs<ion-text color="danger">*</ion-text></ion-label>
    <ion-button fill="clear" (click)="onAddPhotoClick()">Add</ion-button>
  </ion-list-header>
  <ion-row id="commentPhotosContainer" class="ion-padding-horizontal ion-justify-content-start">
    <!-- preview selected photographs -->
    <ion-col *ngFor="let photo of photographsSrc" size="4">
      <ion-img [src]="photo"></ion-img>
      <ion-button fill="clear" color="danger" class="delete-button" (click)="onDeletePhotoClick(i)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  </form>
  <br>

</ion-content>
